
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.header {
    background: #ffa500;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.section {
    padding: 20px;
    text-align: center;
    height: 74.8vh;
    background: inear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
}

h2{
    margin-top: 0px;
    font-size: 3rem;
}

.home h2 {
    font-size: 3rem;
    color: white;
    background-color: rgba(220, 95, 33, 1);
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 5em;
}

.home {
    /* background: url('servicios.webp');*/
    /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                url('servicios2.webp'); */
    background: url('servicios2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -120px;
    /* background: linear-gradient(135deg, #f6d365, #fda085); */
    color: #000000;
}

.home #soluciones {
    margin-top: 10em;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.home img {
    max-width: 30%;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
